@model EC_TH2012_J.Models.Donhangtongquan
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
}

<section id="checkout-page">
    <div class="container">
        <div class="col-xs-12 no-margin">
      
            <!--Order-->
        @Html.Action("CartOrder", "Xuligiohang")

        @using (Html.BeginForm("Checkout", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <h2 class="border h1">Thông tin khách hàng :</h2>
            <div class="form-group">
                @Html.Label("Người mua :", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.buyer, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(m => m.buyer)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Người nhận :", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.seller, new { @class = "form-control", required = "required", placeholder = @Model.buyer })
                    @Html.ValidationMessageFor(m => m.seller)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Điện thoại :", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.phoneNumber, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(m => m.phoneNumber)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Địa chỉ :", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.address, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(m => m.address)
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Ghi chú :", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Note, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Note)
                </div>
            </div>
            <section id="shipping-address">
                <h2 class="border h1">Phương thức thanh toán</h2>
            </section><!-- /#shipping-address -->
             

            <div id="payment-method-options">
                    @*<div class="payment-method-option">
                        <input class="le-radio" type="radio" name="group2" value="Direct">
                        <div class="radio-label bold ">
                            Thẻ ngân hàng<br>
                        </div>
                    </div>*@

                    <div class="payment-method-option">
                        <input class="le-radio" type="radio" name="group2" value="cheque">
                        <div class="radio-label bold ">Tiền mặt</div>
                    </div><!-- /.payment-method-option -->

                    @*<div class="payment-method-option">
                        <input class="le-radio" type="radio" name="group2" value="paypal">
                        <div class="radio-label bold ">PayPal</div>
                        <form action="/Home/Charge" method="POST">
                            <article>
                                <label>Amount: @ViewBag.GioHang.TinhtongtienCart() VND</label>
                            </article>
                            <script src="//checkout.stripe.com/v2/checkout.js"
                                    class="stripe-button"
                                    data-key="@ViewBag.StripePublishKey"
                                    data-locale="auto"
                                    data-description="Sample Charge"
                                    data-amount="@ViewBag.GioHang.TinhtongtienCart()">
                            </script>
                        </form>
                    </div>*@
            </div><!-- /#payment-method-options -->

            <div class="place-order-button">
                <input type="submit" class="le-button big" value="Đặt hàng" />
            </div><!-- /.place-order-button -->
        }
                  
        </div><!-- /.col -->
    </div><!-- /.container -->
</section><!-- /#checkout-page -->

