@model EC_TH2012_J.Models.BaiViet
@{
    ViewBag.Title = "Bài viết";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="~/ckeditor/ckeditor.js"></script>
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-user"></i>@ViewBag.Title</h2>
                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default">
                        <i class="glyphicon glyphicon-chevron-up"></i>
                    </a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="alert alert-info" id="alert-info" style="display:none"></div>
                <div class="form-inline" style="text-align: right; padding: 10px">

                    <div class="input-group">
                        @Html.DropDownList("matrang", (SelectList)@ViewBag.Trang,String.Empty , new { @class = "form-control", id = "matrangsearch", onchange = "timkiemtrangajax()" })
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search red"></i></span>
                        <input id="inputIcon" type="text" class="form-control" placeholder="Nhập tiêu đề bài viết" oninput="timkiemtrangajax()">
                    </div>
                    <div class="input-group">
                        <a class="btn btn-danger" href='javascript:multibledel("@Url.Action("MultibleDelBaiviet", "Admin")")'>
                            <i class="glyphicon glyphicon-trash icon-white"></i>
                            Xóa các sản phẩm đã chọn
                        </a>
                    </div>

                </div>
                <div class="Ajax-Table">
                    @Html.Action("TimBV", "Admin")
                </div>

            </div>
        </div>
    </div>
    <!--/span-->
</div><!--/row-->

<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-user"></i>Thêm @ViewBag.Title</h2>
                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default">
                        <i class="glyphicon glyphicon-chevron-up"></i>
                    </a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">

                @using (Html.BeginForm("ThemBaiViet", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <div class="form-horizontal">
                        <div class="alert alert-info">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TieuDe, new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.TieuDe, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TieuDe)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Trang, "Trang", new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.DropDownListFor(model => model.Trang, (SelectList)ViewBag.Trang, String.Empty, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Trang)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.NoiDung, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.NoiDung, new { @class = "form-control", rows = "5" })
                                @Html.ValidationMessageFor(model => model.NoiDung)
                                <script>
                                    CKEDITOR.replace('NoiDung');
                                </script>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Thêm mới" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>
    </div>
    <!--/span-->
</div><!--/row-->
